<h1>Books#index</h1>
<h1>Books</h1>
<div id="container">
	<div id="addbox" style="margin-left:8em;margin-right: 10em;background-color: grey;">
		<h3 style="text-align: center;">Add a book</h3>
		<form action="addRecord.html" method="get">
			<table>
				<tr>
					<td>Access No:</td>
					<td><input type="text" name="b_access_no"></input></td>
				</tr>
				<tr>
					<td>Title:</td>
					<td><input type="text" name="b_title"></input></td>
				</tr>
				<tr>
					<td>Author:</td>
					<td><input type="text" name="b_author"></input></td>
				</tr>
				<tr>
					<td>Edition:</td>
					<td><input type="text" name="b_edition"></input></td>
				</tr>
				<tr>
					<td>Publisher:</td>
					<td><input type="text" name="b_publisher"></input></td>
				</tr>
				<tr>
					<td><input type="submit" name="b1" value="Add Book"></input></td>
				</tr>
			</table>
		</form>
	</div>
	 <div id="addbox" style="margin-left:8em;margin-right: 10em;background-color: grey;">
		<h3 style="text-align: center;">Search a book</h3>
		<form action="search.html" method="get">
			<table>
				<tr>
					<td>Title:</td>
					<td><input type="text" name="b_title"></input></td>
				</tr>
				<tr>
					<td><input type="submit" name="b2" value="Search"></input></td>
				</tr>
			</table>
		</form>
	</div>

</div>